html, body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

#heading {
    --text-align: center;
    --line-height: 30px;
}

#nav {
    height: 50px;
    background-color: #03254c;
}

h4 {
    text-align: var(--text-align);
    line-height: var(--line-height);
}
h6 {
    text-align: var(--text-align);
    line-height: 20px;
}
.para {
    text-align: justify;
    line-height: 25px;
}

#footer_text {
    font-size: 10px;
    color: white;
    text-align: center;
    font-weight: 100;
    padding: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}